<div class="container my-3 row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <img class="img-fluid" src="{{event.imageUrl}}" />
  </div>
  <div class="col">
    <h1>{{event.title}}</h1>
    <p><strong>Fecha: {{event.date}}</strong></p>
    <p><strong>Precio: {{event.price}}</strong></p>
    <p><strong>Duraci칩n: {{event.duration}}</strong></p>
    <p><strong>{{event.location}}</strong></p>
    <p class="fw-bold mt-5">Sobre este evento</p>
    <p>{{event.description}}</p>
    <p><strong><a href="{{event.url}}">M치s informaci칩n</a></strong></p>
            <div id="map"></div>
</br>

    <center><a class="btn-primary" href="/events">Ver m치s eventos</a></center>
    </br>
    {{>comments entity=event type="event"}}

  </div>

</div>
<script>
    let map = L.map('map').setView([{{event.latitud}}, {{event.longitud}}], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const marker = L.marker([{{event.latitud}}, {{event.longitud}}]).addTo(map);
</script>