<div class="container my-3 row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
  </div>
  <div class="col">
    <h2>{{PlanDB.title}}</h2>
    <p class="text-danger fs-2 fw-bold">{{PlanDB.duration}}€</p>
    <p class="text-danger fs-2 fw-bold">{{PlanDB.location}}€</p>
    <p class="fw-bold mt-5">Sobre esta actividad</p>
    <p>{{PlanDB.description}}</p>
    <a class="btn btn-primary" href="/plans">Ver todos los planes</a>
    <a class="btn btn-primary" href="/plans/{{PlanDB._id}}/edit">Editar este plan</a>
     <form action="/plans/{{PlanDB._id}}/like" method="POST"><button>Corazón</button></form>
  </div>
 
</div>