<div class="container my-3 row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
    <img class="img-fluid" src="{{plan.image}}" />
  </div>
  <div class="col">
    <h2>{{plan.title}}</h2>
    <p class="text-black">Localizaci贸n: {{plan.location}}</p>
    <p>Duraci贸n: {{plan.duration}}</p>
    <p class="text-danger">A <strong>{{plan.likesCount}}</strong> personas les gusta este plan</p>
    <p class="fw-bold mt-5">Sobre esta actividad</p>
    <p>{{plan.description}}</p>
    <a class="btn btn-danger" href="/plans">Ver todos los planes</a>
    
    {{#userCreator planUser=plan.user currentUserId=currentUser._id}}
      <a class="btn btn-secondary mt-2" href="/plans/{{plan._id}}/edit">Editar plan</a>
    {{/userCreator}}
    
    <!-- Aqu铆 est谩 el bot贸n de like -->
    

    <p class="fw-bold mt-5">Sobre esta actividad</p>
    <p>{{plan.description}}</p>
  
    <form action="/plans/{{plan._id}}/like" method="POST">
      <button type="submit" class="btn btn-primary mt-2">{{#planIsLiked userId=currentUser._id likes=plan.likes}}I わ este plan{{else}}I don't  este plan{{/planIsLiked}}</button>
    </form>

    <!-- Bot贸n de eliminar plan -->
   
    <!-- Esto es la l贸gica del bot贸n de guardar -->
    <form action="/plans/{{plan._id}}/save" method="POST">
      <button type="submit" class="btn btn-primary mt-2">{{#planIsSaved userId=currentUser._id saves=plan.saves}}Eliminar de guardados{{else}}Guardar este plan{{/planIsSaved}}</button>
    </form>

    {{>comments entity=plan type="plan"}}
  </div>
</div>
