<div class="container my-3 row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
  </div>
  <div class="col">
    <h2>{{plan.title}}</h2>
    <p class="text-danger fs-2 fw-bold">{{plan.duration}}€</p>
    <p class="text-danger fs-2 fw-bold">{{plan.location}}€</p>
    <p class="fw-bold mt-5">Sobre esta actividad</p>
    <p>{{plan.description}}</p>
    <a class="btn btn-primary" href="/plans">Ver todos los planes</a>
    <a class="btn btn-primary" href="/plans/{{plan._id}}/edit">Editar plan</a>
    
    <!-- Aquí tienes el botón de like -->

     <p class="text-primary fs-2 fw-bold">{{plan.likesCount}} ❤️</p>

    <p class="fw-bold mt-5">Sobre esta actividad</p>
    <p>{{plan.description}}</p>
  
  <form action="/plans/{{plan._id}}/like" method="POST">
    <button type="submit" class="btn btn-primary">{{#planIsLiked userId=currentUser._id likes=plan.likes}}❤️{{else}}🤍{{/planIsLiked}}</button>
</form>
      
{{#if likes}}
  {{else}}
    <!-- Si el usuario no ha dado like, mostrar un corazón vacío -->
  {{/if}}
    <!-- Botón de eliminar plan -->
   {{#userCreator planUser=plan.user currentUserId=currentUser._id}}
    <form method="POST" action="/plans/{{plan._id}}/delete" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este plan?');">
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Eliminar Plan
        </button>
    </form>
{{/userCreator}}
    <!-- Esto es la lógica del botón de guardar -->
    {{#if isPlanSaved}}
    <form action="/plans/{{plan._id}}/unsave" method="POST">
      <button type="submit" class="btn btn-danger">Eliminar de guardados</button>
    </form>
    {{else}}
    <form action="/plans/{{plan._id}}/save" method="POST">
      <button type="submit" class="btn btn-primary">Guardar este plan</button>
    </form>
    {{/if}}

    {{>comments entity=plan type="plan"}}
  </div>

</div>