<div class="container my-3">
  <h1>
    Editar este plan
  </h1>

  <form action="/plans/{{plan._id}}" method="POST">

    <div class="mb-3">
      <label for="title" class="form-label">Título del Plan</label>
      <input type="text" name="title" id="title" placeholder="Nombre del plan" value="{{plan.title}}"
        class="form-control {{#if errors.title}}is-invalid{{/if}}">
      {{#if errors.title}}
        <div class="invalid-feedback">{{errors.title}}</div>
      {{/if}}
    </div>

    <div class="mb-3">
      <label for="duration" class="form-label">Duración</label>
      <input type="text" name="duration" id="duration" placeholder="Duración del plan" value="{{plan.duration}}"
        class="form-control {{#if errors.duration}}is-invalid{{/if}}">
      {{#if errors.duration}}
        <div class="invalid-feedback">{{errors.duration}}</div>
      {{/if}}
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Ubicación</label>
      <input type="text" name="location" id="location" placeholder="Punto de encuentro" value="{{plan.location}}"
        class="form-control {{#if errors.location}}is-invalid{{/if}}">
      {{#if errors.location}}
        <div class="invalid-feedback">{{errors.location}}</div>
      {{/if}}
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Categoría</label>
      <input type="text" name="category" id="category" placeholder="Tipo de plan" value="{{plan.category}}"
        class="form-control {{#if errors.category}}is-invalid{{/if}}">
      {{#if errors.category}}
        <div class="invalid-feedback">{{errors.category}}</div>
      {{/if}}
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea name="description" id="description" rows="3" placeholder="Describe tu plan"
        class="form-control {{#if errors.description}}is-invalid{{/if}}">{{plan.description}}</textarea>
      {{#if errors.description}}
        <div class="invalid-feedback">{{errors.description}}</div>
      {{/if}}
    </div>

    <button type="submit" class="btn btn-primary">
      Editar este plan
    </button>

  </form>

  <form class="mt-3" action="/plans/{{plan._id}}/delete" method="POST">
    <button class="btn btn-danger">Borrar este plan</button>
  </form>
</div>

