 <div class="col-12">
        <h2>Comentarios</h2>
        
        <form action="/comments/{{entity._id}}/{{type}}" method="POST">
            <div class="mb-3">
                <textarea class="form-control" name="content" id="comment" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Comentar</button>
        </form>
    </div>
        {{#each entity.comments as |comment|}}
        <div class="card my-2">
            <div class="card-body">
                <p class="">{{comment.content}}</p>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <img class="rounded-circle"src="{{comment.user.image}}" height="40px" width="40px">
                <small class="text-body-secondary">Por {{comment.user.username}}</small>
                <form action="/comments/{{comment._id}}/{{../type}}/delete" method="POST">
                    <button ><i class="fa-solid fa-trash-can"></i>
                </form>
            </div>
        </div>
        {{/each}}
        