        <div class="tarjeta-evento">
            <img src="{{evento}}" alt="Imagen del evento" class="imagen-evento">
            <div class="detalles-evento">
                <h2>{{title}}</h2>
                <p><strong>Fecha:</strong> {{date}}</p>
                <p><strong>Duración:</strong> {{duration}}</p>
                <p><strong>Precio:</strong> ${{price}}</p>
                <p><strong>Ubicación:</strong> {{location}}</p>
                <p><strong>Categoría:</strong> {{category}}</p>
                <a href="{{enlace}}">Enlace al evento</a>
                <a href="/eventos/{{this._id}}">Detalle del evento</a>

            </div>
        </div>
