<div class="home-post standard-post">
    <div class="image-holder">
        <img src="/images/madrid.jpg" alt="foto artículo" width="255" height="198">
    </div>
    <div class="text-content-small">
        <a class="text-link category" href="#">{{#if category}} {{category}} {{else}} Restaurantes {{/if}}</a>
        <h2><a href="">{{title}} {{#if name}} {{name}} {{/if}}</a></h2>
        <h3><a href=""> {{#if cuisine}} {{cuisine}} {{/if}}</a></h3>
    </div>

</div>