
<div class="home-post">
  <div class="image-holder">
    <img class="img-fit" src="/images/madrid.jpg" alt="" width="540" height="578">
  </div>
  <div class="text-container">
    <div class="text-content">
      <div>
      <a class="text-link category" href="#">{{#if category}} {{category}} {{else}} Restaurantes {{/if}}</a>
      <h2><a class="text-link" href="">{{title}} {{#if name}} {{name}} {{/if}}</a></h2>
      <h3><a class="text-link" href=""> {{#if cuisine}} {{cuisine}} {{/if}}</a></h3>
      </div>
      <div class="post-info">
        <p>by Stan Enemy<p>
        <p>3 days ago</p>
        <p>2 comments</p>
      </div>
    </div>
  </div>
</div>