<div class="home-post standard-post">
    <div class="image-holder">
        <a href="/activities/{{this._id}}">
            <img class="img-fit d-block image-zoom" src="{{imageUrl}}" alt="foto artículo">
        </a>
    </div>
    <div class="text-content-small">
        <a class="text-link category" href="activities/{{this._id}}">{{#if category}} {{category}} {{else}} Restaurantes
            {{/if}}</a>
        <a href="activities/{{this._id}}">
            <h2>{{title}} {{#if name}} {{name}} {{/if}}</h2>
            <h3>{{#if cuisine}} {{cuisine}} {{/if}}</h3>
            <h3>{{#if date}} Fecha: {{date}} {{/if}}</h3>
            <h3>{{#if rating}} Valoración: {{rating}} {{/if}}</h3>
            <h3>{{#if price}} Precio: {{price}} {{/if}}</h3>
        </a>
    </div>

</div>