<div class="home-post">
  <div class="card image-holder-large text-white">
    <img src="{{imageUrl}}" class="card-img image-zoom" alt="...">
    <div class="text-container">
      <div class="img-overlay">
        <a class="text-link category" href="activities/{{this._id}}">{{#if category}} {{category}} {{else}} Restaurantes
          {{/if}}</a>
        <h2><a class="text-link" href="">{{title}} {{#if name}} {{name}} {{/if}}</a></h2>
        <h3 class="text-link"> {{#if cuisine}} {{cuisine}} {{/if}}</h3>
        <p class="home-post">{{#if date}} Fecha: {{date}} {{/if}}</p>
        <p class="home-post">{{#if rating}} Valoración: {{rating}} {{/if}}</p>
        <p class="home-post">{{#if price}} Precio: {{price}} {{/if}}</p>
      </div>
    </div>
  </div>
</div>