    <div class="list-post ">
  <div class="image-holder">
    <a  href="/events/{{this._id}}" >
    <img class="image-zoom" src="/images/madrid.jpg" alt="" width="540" height="578">
    </a>
  </div>
  <div class="text-container-list">
    <div class="text-content">
      <div class="card-body subrayado">
        <a href="/events/{{this._id}}">
        <h5 class="card-text ">{{name}}</h5>
        <p class="card-text "> {{cuisine}}</p>
        <p class="card-text">{{rating}}</p>
        </a>
      </div>
      
    </div>
  </div>
</div>
 