<div class="col">
    <div class= "card h-100">
        <img src="{{restaurant}}" alt="Imagen del restaurante" class="imagen-evento">
        <div class="card-body">
            <h5 class=" card-title">{{name}}</h5>
            <p class=" card-text"><strong>Cocina:</strong> {{cuisine}}</p>
            <p class=" card-text"><strong>Ubicación:</strong> {{address.street}}, {{address.city}}, {{address.state}}</p>
            <p class=" card-text"><strong>Rating:</strong> {{rating}}</p>
            
        </div>
        <div class="card-footer d-flex justify-content-between">
      <small class="text-body-secondary"><a href="/restaurants/{{this._id}}" class="link-opacity-50-hover">Ver más</a></small>
    </div>
    </div>
</div>

    
 