        <div class="tarjeta-evento">
            <img src="{{evento}}" alt="Imagen del restaurante" class="imagen-evento">
            <div class="detalles-evento">
                <h2>{{name}}</h2>
                <p><strong>Cocina:</strong> {{cuisine}}</p>
                <p><strong>Ubicación:</strong> {{address.street}}, {{address.city}}, {{address.state}}</p>
                <p><strong>Rating:</strong> {{rating}}</p>
                <a href="{{enlace}}">Enlace al restaurante</a>
                <a href="/restaurantes/{{this._id}}">Detalle del restaurante</a>

            </div>
        </div>


    
 