    <div class="list-post ">
  <div class="image-holder">
    <a  href="/restaurants/{{this._id}}" >
    <img class="img-fit" class="image-zoom" src="{{imageUrl}}" alt="">
    </a>
  </div>
  <div class="text-container-list">
    <div class="text-content">
      <div class="card-body subrayado">
        <a href="/restaurants/{{this._id}}">
        <h5 class="card-text ">{{name}}</h5>
        <p class="card-text "> {{cuisine}}</p>
        <p class="card-text">Valoración: {{rating}}</p>
        <p class="card-text">Precio medio: {{price}}</p>
        <p class="card-text">{{address}}</p>
        </a>
      </div>
      
    </div>
  </div>
</div>
 