<div class="detalle-evento">
        <h1>{{title}}</h1>
        <img src="{{imageUrl}}" alt="Imagen del evento" class="imagen-evento">
        <div class="detalles-evento">
            <p><strong>Cocina:</strong> {{restaurante.cuisine}}</p>
                <p><strong>Ubicación:</strong> {{restaurante.address.street}}, {{address.city}}, {{address.state}}</p>
                <p><strong>Rating:</strong> {{restaurante.rating}}</p>
            <p><strong>Enlace:</strong> <a href="{{enlace}}">Enlace al restaurante</a>
</p>
        </div>
        <p>Descripción detallada del evento...</p>
    </div>