<div class="detalle-evento">
        <h1>{{title}}</h1>
        <img src="{{imageUrl}}" alt="Imagen del evento" class="imagen-evento">
        <div class="detalles-evento">
            <p><strong>Fecha:</strong> {{evento.date}}</p>
            <p><strong>Duración:</strong> {{evento.duration}}</p>
            <p><strong>Precio:</strong> ${{evento.price}}</p>
            <p><strong>Ubicación:</strong> {{evento.location}}</p>
            <p><strong>Categoría:</strong> {{evento.category}}</p>
            <p><strong>Enlace:</strong> <a href="{{enlace}}">Enlace al evento</a></p>
        </div>
        <p>Descripción detallada del evento...</p>
    </div>