<div class="container my-3 row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <img class="img-fluid" src="{{actividad.imageUrl}}" />
  </div>
  <div class="col">
    <h2>{{actividad.title}}</h2>
    <p class="text-danger fs-2 fw-bold">{{actividad.price}}€</p>
    <p class="text-danger fs-2 fw-bold">{{actividad.location}}€</p>
    <p class="text-danger fs-2 fw-bold">{{actividad.date}}€</p>
    <p class="fw-bold mt-5">Sobre esta actividad</p>
    <p>{{actividad.description}}</p>
    <a class="btn btn-primary" href="/actividades">Ver más actividades</a>
  </div>

</div>